@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 40 10% 20%;
    --card: 60 56% 95%;
    --card-foreground: 40 10% 20%;
    --popover: 60 56% 95%;
    --popover-foreground: 40 10% 20%;
    --primary: 120 25% 40%;
    --primary-foreground: 60 56% 95%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 40 10% 20%;
    --muted: 60 20% 88%;
    --muted-foreground: 40 10% 40%;
    --accent: 30 44% 64%;
    --accent-foreground: 40 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 83%;
    --ring: 120 25% 45%;
    --chart-1: 120 30% 55%;
    --chart-2: 30 50% 60%;
    --chart-3: 200 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 50% 98%;
    --sidebar-foreground: 40 10% 26.1%;
    --sidebar-primary: 120 25% 40%;
    --sidebar-primary-foreground: 60 56% 95%;
    --sidebar-accent: 60 50% 92%;
    --sidebar-accent-foreground: 40 10% 20%;
    --sidebar-border: 60 20% 88%;
    --sidebar-ring: 120 25% 45%;
  }
  .dark {
    --background: 40 5% 12%;
    --foreground: 60 56% 91%;
    --card: 40 5% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 40 5% 12%;
    --popover-foreground: 60 56% 91%;
    --primary: 120 25% 55%;
    --primary-foreground: 40 10% 10%;
    --secondary: 40 5% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 40 5% 20%;
    --muted-foreground: 60 20% 70%;
    --accent: 30 44% 70%;
    --accent-foreground: 40 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 5% 20%;
    --input: 40 5% 20%;
    --ring: 120 25% 55%;
    --chart-1: 120 30% 55%;
    --chart-2: 30 50% 60%;
    --chart-3: 200 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 40 5% 10%;
    --sidebar-foreground: 60 50% 90%;
    --sidebar-primary: 120 25% 55%;
    --sidebar-primary-foreground: 40 10% 10%;
    --sidebar-accent: 40 5% 15%;
    --sidebar-accent-foreground: 60 50% 90%;
    --sidebar-border: 40 5% 20%;
    --sidebar-ring: 120 25% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
